<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <link rel="stylesheet" href="/edit.css" />
  </head>
  <body>
    <div class="main">
      <h4>id:<%= post.id %></h4>
      <h3 class="user">@<%= post.username %></h3>
      <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea class="content" name="content" rows="10" cols="30">
<%= post.content %></textarea
        ><br /><br />
        <a href="http://localhost:8080/posts">close</a>
        <button>save</button>
      </form>
    </div>
  </body>
</html>
