<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
  </head>
  <body>
    <div class="main">
      <form method="post" action="/posts">
        <input type="text" name="username" placeholder="Enter Name" /><br />
        <textarea
          rows="10"
          cols="30"
          placeholder="Enter Content"
          name="content"
        ></textarea
        ><br />
        <button>Create New Post</button>
      </form>
    </div>
  </body>
</html>
